:root {
    --main-color: #FFFFFF;
    --secondary-color: #355070;
    --accent-color: #E56B6F;

    --title-font: Verdana, Geneva, Tahoma, sans-serif;
    --body-font: 'Courier New', Courier, monospace;  

    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header,
footer {
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 4%;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    font-family: var(--title-font);
    margin: 4%;
    font-size: 1.953rem;
}

h2 {
    font-family: var(--body-font);
    font-size: 1.563rem;
}

h3 {
    font-family: var(--body-font);
    font-size: 1.25rem;
}

p {
    font-family: var(--body-font);
    font-size: 1rem;
}

h2.start-title{
    padding-bottom: 8%;
}

.cancel-restart button,
#start-button {
    border-radius: 1em;
    background-color: var(--accent-color);
    align-self: center;
    margin: 6%;
}

button {
    border: none;
    padding: 5%;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
    cursor: pointer;
}

button:disabled {
    background-color: #5f7590b0;
    color: var(--main-color);
}

.start-game {
    margin: 4%;
    display: flex;
    flex-direction: column;
}

.start-game div h2,
.start-game div p {
    margin: 4%;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 4% 0 0 0;
}

.keyboard button {
    font-weight: 700;
    margin: 0.5%;
    background-color: #6699CC;
    width: 3rem;
    height: 3.375rem;

}

.keyboard button:hover,
.keyboard button:disabled {
    background-color: #6699cc5c;
}

.answer {
    text-align: center;
    padding: 8%;
    min-height: 38px;
    font-size: 1.953rem;
    font-weight: 600;
    font-family: var(--body-font);
}

.cancel-restart {
    display: flex;
    justify-content: center;
}

.container {
    border: 4px var(--secondary-color) dashed;
    margin: 4%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    text-align: center;
}

.progress {
    min-height: 162px;
}

@media screen and (min-width: 999px) {
    .start-game {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .start-game div {
        width: fit-content;
    }

    footer {
        padding: 2%;
    }

    h1 {
        margin: 0;
    }

    .keyboard button {
        width: 4.188rem;
        height: 4.5rem;
    }

}